@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

main.dark {
  --primary: rgb(19 18 31);
  --color-text: #f5fefb;
  --cta-primary: #4d194d;
  --cta-text-color: #f5fefb;
  --cta-input-color: #4d194d;
  --primary-font-family: "Montserrat", sans-serif;
  --primary-font-weight: 400;
  --primary-font-size: 16px;
  --error-color: #ff403b;
  --paper-background: rgb(29 28 49);
}

main.light {
  --primary: rgba(39, 38, 64, 0.05);
  --color-text: #272640;
  --cta-primary: #4d194d;
  --cta-text-color: #f5fefb;
  --cta-input-color: #4d194d;
  --primary-font-family: "Montserrat", sans-serif;
  --primary-font-weight: 400;
  --primary-font-size: 16px;
  --error-color: #ff403b;
  --paper-background: #ffffff;
}
