main.dark {
  --primary: rgb(19 18 31);
  --color-text: #f5fefb;
  --cta-primary: #4d194d;
  --cta-text-color: #f5fefb;
  --cta-input-color: #4d194d;
  --primary-font-weight: 400;
  --primary-font-size: 16px;
  --error-color: #ff403b;
  --paper-background: rgb(29 28 49);
  height: 100%;
}

main.light {
  --primary: rgba(39, 38, 64, 0.05);
  --color-text: #272640;
  --cta-primary: #4d194d;
  --cta-text-color: #f5fefb;
  --cta-input-color: #4d194d;
  --primary-font-weight: 400;
  --primary-font-size: 16px;
  --error-color: #ff403b;
  --paper-background: #ffffff;
  height: 100%;
}
