// Responsive breakpoints
$xs-max: 575px;
$sm-min: 576px;
$sm-max: 767px;
$md-min: 768px;
$md-max: 991px;
$lg-min: 992px;
$lg-max: 1199px;
$xl-min: 1200px;

// Container breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$font-stack: "Montserrat", sans-serif;
$base-font-size: 1rem;
