@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "base.scss";
@import "colors.scss";
@import "typography.scss";
@import "variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  @include typography($base-font-size);
}

input {
  border-radius: 8px;
  outline: none;
  &.ng-dirty.ng-invalid {
    border: 1px solid var(--error-color);
  }
}

a {
  text-decoration: none;
}
