@import "colors.scss";
@import "base.scss";

.auth-title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
}

@keyframes input-message-animation {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@mixin input-message() {
  font-size: 12px;
  box-sizing: border-box;
  padding: 2px 13px;
  animation-name: input-message-animation;
  animation-duration: 300ms;
}

.input-error {
  @include input-message();
  color: $color-error;
}
