@import "layout.scss";

section.main {
  grid-area: main;
  border: 1px solid var(--primary);
}

.layout-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

app-header {
  grid-area: header;
}
app-sidebar {
  grid-area: sidebar;
  border: 1px solid var(--primary);
}
