@import "mixins.scss";

.nav {
  @include glass-bg();
  display: flex;
  flex-direction: column;
  gap: 30px;

  a {
    padding: 0px 24px;

    &:hover {
      color: var(--cta-text-color);
    }
  }
}

.active {
  color: var(--cta-primary);
  font-weight: 600;
}
