.input {
  border: 1px solid var(--cta-primary);
  padding: 10px 15px;
  font-size: 14px;
  background: inherit;
  color: var(--color-text);
}

.form-control {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 9px;
}
