<div class="logo-container">
  <svg
    width="100"
    height="100"
    viewBox="0 0 848 848"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_2078_7049)">
      <path
        d="M4 253.168C299.182 64.5388 404.101 12.0916 423.283 0L842.818 254.866C738.542 312.301 737.127 321.098 715.403 332.434L423.283 147.366L4 398.92V253.168Z"
        fill="url(#paint0_linear_2078_7049)"
      />
      <path
        d="M844 387.372C548.818 576.001 443.899 628.448 424.717 640.54L4.0025 398.92C99.564 343.515 110.182 332.434 131.418 321.353L424.717 493.173L842.821 254.866L844 387.372Z"
        fill="#FFA31A"
      />
      <path
        d="M844 586.832C548.818 775.461 443.899 827.908 424.717 840L4.0025 598.381C99.564 542.975 110.182 531.894 131.418 520.813L424.717 692.634L842.821 454.326L844 586.832Z"
        fill="#FFA31A"
      />
      <path
        d="M4 452.627C299.182 263.999 404.101 211.551 423.283 199.46L842.818 454.326C738.542 511.761 737.127 520.558 715.403 531.894L423.283 346.826L4 598.38V452.627Z"
        fill="url(#paint1_linear_2078_7049)"
      />
    </g>
    <defs>
      <filter
        id="filter0_d_2078_7049"
        x="0"
        y="0"
        width="848"
        height="848"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_2078_7049"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_2078_7049"
          result="shape"
        />
      </filter>
      <linearGradient
        id="paint0_linear_2078_7049"
        x1="423.409"
        y1="0"
        x2="371.568"
        y2="474.377"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFA31A" />
        <stop offset="1" stop-color="#FFA31A" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint1_linear_2078_7049"
        x1="423.409"
        y1="199.46"
        x2="371.568"
        y2="673.836"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFA31A" />
        <stop offset="1" stop-color="#FFA31A" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg>
</div>
