<h1 class="form-title">Sign in to CRM</h1>
<div class="alert-container">
  <app-alert-message
    *ngIf="errorMessage$ | async"
    [message]="error"
  ></app-alert-message>
</div>

<form [formGroup]="signInForm" class="form" (ngSubmit)="onSubmitForm()">
  <div class="input-container">
    <app-text-input
      id="email"
      label="Email"
      type="email"
      placeholder="Enter your email"
      [control]="signInForm.controls.corporate_email"
      [controlName]="signInForm.controls.corporate_email"
    ></app-text-input>

    <app-text-input
      id="email"
      label="Password"
      type="password"
      placeholder="Enter your password"
      [control]="signInForm.controls.password"
      [controlName]="signInForm.controls.password"
    ></app-text-input>

    <app-button
      [full]="true"
      [disabled]="signInForm.invalid"
      [label]="'Sign In'"
    ></app-button>
    <div class="redirect-wrapper">
      <span>Already have an account?</span>
      <a routerLink="/auth/sign-up" class="link"> Sign Up</a>
    </div>
  </div>
</form>
